.background {
    background-repeat: repeat-x;
    background-image: url("background.png");
    height: 100vh;
    background-position-x: 0px;
}

audio{
    display: none;
}

.score {
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 191, 0);
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.apilagesadu {
    height: 250px;
    bottom: 0;
    position: absolute;
}


.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30vh;
}

.gameicon {
    width: 200px;
    height: 200px;
}

.obstacle {
    position: absolute;
    right: -100px;
    bottom: 0;
}

.box{
    height: 100px;
    bottom:0;
}

.ganja {
    position: absolute;
    height: 150px;
    right: 250px;

}

.apilagesaduend{
    position: absolute;
    height: 250px;
    right: 850px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    right: 0;
    z-index:99999;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    align-items: center;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .hidden{
    display: none !important;
  }