.background {
    background-image: url("background.png");
    background-size: 100%;
}


.score {
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 191, 0);
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.apilagesadu {
    height: 250px;
    margin-top: 400px;
    position: absolute;
    
}

  
.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30vh;
}
  
  .gameicon {
    width: 200px; 
    height: 200px; 
  }